<title>Movie - board</title>

<div class="board">
  <h1>board</h1>
  <div class="table">
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>date</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < result.length; i++) { %>
            <tr>
                <td><a href="board/<%= result[i].id%>"><%= result[i].id %></a></td>
                <td><%= result[i].author %></td>
                <td><a href="board/<%= result[i].id%>"><%= result[i].title %></a></td>
                <td><%= result[i].date %></td>
            </tr>
              <% } %>
        </tbody>
  </table>
</div>
  <a href="write"><button>쓰기</button></a>
</div>

