<title>Movie - content</title>

<h1>content</h1>

<div class="write">
  <span><%= result.id %></span>
  <span><%= result.author %></span>
  <span><%= result.title %></span>
  <span><%= result.content %></span>
  <span><%= result.date %></span>
  <span><%= result.link %></span>
</div>
